<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">

    <title>US Chat</title>

    <link rel="stylesheet" href="/style.css">

    <script src="/socket.io/socket.io.js"></script>

</head>

<body>

<div class="chat-container">

    <div class="chat-header">

        <h1>
Chat with <%= chattingWith %>

        </h1>

        <a href="/users">

            <button class="clear-btn">

                Back

            </button>

        </a>

    </div>



    <div class="chat-box" id="chat-box">

        <% messages.forEach((msg) => { %>

            <div class="message
            <%= msg.sender === user
            ? 'my-message'
            : 'other-message' %>">

                <div class="message-top">

                    <strong>

                        <%= msg.sender %>

                    </strong>

                    <span class="time">

                        <%= msg.time %>

                    </span>

                </div>

                <div class="message-text">

                    <%= msg.text %>

                </div>

            </div>

        <% }) %>

    </div>



    <form id="chat-form" class="message-form">

        <input
            type="text"
            id="message-input"
            placeholder="Type message..."
            autocomplete="off"
            required
        >

        <button type="submit">

            Send

        </button>

    </form>

</div>



<script>

    const socket = io();



    const form = document.getElementById("chat-form");

    const input = document.getElementById("message-input");

    const chatBox = document.getElementById("chat-box");



    const currentUser = "<%= user %>";

    const ROOM_ID = "<%= room %>";



    socket.emit("join room", ROOM_ID);



    form.addEventListener("submit", (e) => {

        e.preventDefault();



        if(input.value.trim() === ""){

            return;

        }



        socket.emit("chat message", {

            room: ROOM_ID,

            user: currentUser,

            message: input.value

        });



        input.value = "";

    });



    socket.on("chat message", (data) => {

        const div = document.createElement("div");



        div.classList.add("message");



        if(data.user === currentUser){

            div.classList.add("my-message");

        }

        else{

            div.classList.add("other-message");

        }



        div.innerHTML = `

            <div class="message-top">

                <strong>

                    ${data.user}

                </strong>

                <span class="time">

                    ${data.time}

                </span>

            </div>

            <div class="message-text">

                ${data.message}

            </div>

        `;



        chatBox.appendChild(div);



        chatBox.scrollTop = chatBox.scrollHeight;

    });

</script>

</body>

</html>