<!DOCTYPE html>
<html>

<head>
    <title>US Chat</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <div class="container">

        <div class="top-bar">

            <h2>US Chat</h2>

            <div>

                <a href="/logout">
                    <button class="logout-btn">Logout</button>
                </a>

                <form action="/clear-chat" method="POST" style="display:inline;">

                    <button class="clear-btn">
                        Clear
                    </button>

                </form>

            </div>

        </div>

        <div class="chat-box" id="messages">

            <% messages.forEach(msg=> { %>

                <div class="message <%= msg.sender === user ? 'my-message' : 'other-message' %>">

                    <div class="msg-top">

                        <strong>
                            <%= msg.sender %>
                        </strong>

                        <span class="time">
                            <%= msg.time %>
                        </span>

                    </div>

                    <div>
                        <%= msg.text %>
                    </div>
                </div>

                <% }) %>

        </div>

        <form id="chat-form">

            <input id="msg" autocomplete="off" placeholder="Type message...">

            <button>Send</button>

        </form>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>

    <script>

        const socket = io();

        const SECRET_KEY = "mySuperSecretKey";

        const form = document.getElementById("chat-form");

        const input = document.getElementById("msg");

        const messages = document.getElementById("messages");

        const username = "<%= user %>";

        form.addEventListener("submit", function (e) {

            e.preventDefault();

            if (input.value) {

                const encryptedMessage = CryptoJS.AES.encrypt(
                    input.value,
                    SECRET_KEY
                ).toString();

                socket.emit("chat message", {
                    user: username,
                    message: encryptedMessage
                });

                input.value = "";
            }
        });

        socket.on("chat message", function (data) {

            const div = document.createElement("div");

            div.classList.add("message");

            if (data.user === username) {
                div.classList.add("my-message");
            } else {
                div.classList.add("other-message");
            }

            const currentTime = new Date().toLocaleTimeString([], {
                hour: '2-digit',
                minute: '2-digit'
            });

            div.innerHTML = `

    <div class="msg-top">

        <strong>${data.user}</strong>

        <span class="time">
            ${currentTime}
        </span>

    </div>

    <div>
        ${
    CryptoJS.AES.decrypt(
        data.message,
        SECRET_KEY
    ).toString(CryptoJS.enc.Utf8)
}
    </div>

`;
            messages.appendChild(div);

            messages.scrollTop = messages.scrollHeight;
        });

    </script>

</body>

</html>