<!DOCTYPE html>
<html>
<head>
    <title>US Chat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">

    <div class="top-bar">

        <h2>US Chat</h2>

        <div>

            <a href="/logout">
                <button class="logout-btn">Logout</button>
            </a>

            <a href="/clear">
                <button class="clear-btn">Clear</button>
            </a>

        </div>

    </div>

    <div class="chat-box" id="messages">

        <% messages.forEach(msg => { %>

            <div class="message <%= msg.sender === user ? 'my-message' : 'other-message' %>">

               <div class="msg-top">

    <strong><%= msg.sender %></strong>

    <span class="time">
        <%= msg.time %>
    </span>

</div>

<div>
    <%= msg.text %>
</div>
            </div>

        <% }) %>

    </div>

    <form id="chat-form">

        <input
            id="msg"
            autocomplete="off"
            placeholder="Type message..."
        >

        <button>Send</button>

    </form>

</div>

<script src="/socket.io/socket.io.js"></script>

<script>

const socket = io();

const form = document.getElementById("chat-form");

const input = document.getElementById("msg");

const messages = document.getElementById("messages");

const username = "<%= user %>";

form.addEventListener("submit", function(e){

    e.preventDefault();

    if(input.value){

        socket.emit("chat message", {
            user: username,
            message: input.value
        });

        input.value = "";
    }
});

socket.on("chat message", function(data){

    const div = document.createElement("div");

    div.classList.add("message");

    if(data.user === username){
        div.classList.add("my-message");
    } else {
        div.classList.add("other-message");
    }

    div.innerHTML = `
        <strong>${data.user}:</strong> ${data.message}
    `;

    messages.appendChild(div);

    messages.scrollTop = messages.scrollHeight;
});

</script>

</body>
</html>